
body {
  margin: 0;
  background-color: #f9f9f9 !important;
}
.form-box{
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(201, 201, 201, 201);
    transition: transform 0.5s ease;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid #ff2e2e;  
}
